body {
    width: 1536px;
    margin: 0 auto;
    background-color: #454242;

}

.header {
    position: absolute;
    /* width: -webkit-fill-available; */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 174px 23px 161px;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.12);
    width: 1204px;
}

.main {
    color: black;
    padding: 74px;
    font-size: 18px;
    text-decoration: none;
}

.language {
    text-decoration: none;
    color: black;
}

.text {
    background-color: white;
    height: 723px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(105.02deg, #ffffff 52.34%, #6BFFCA 80.97%);
}

.h1 {
    font-size: 54px;
    padding-left: 150px;
    padding-top: 127px;
    line-height: 115%;
}

.lass {
    padding-left: 149px;
    padding-top: 31px;
    font-size: 20px;
}

.press {
    width: 245px;
    height: 55px;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
    margin-left: 150px;
    margin-top: 55px;
    cursor: pointer;


}

.img2block {
    float: right;
    padding-top: 186px;
    padding-right: 95px;

}

.navigation {
    height: 594px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #242029;

}

.right {
    float: right;

}

.twotext {
    margin-top: 210px;
    margin-right: 188px;
    display: inline-grid;
    float: right;


}

.h2 {
    float: right;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #F3F7EF;
}

.h3 {
    float: right;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #F3F7EF;
    margin-left: 31px;
}

.text_parag {
    float: right;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #F3F7EF;
    margin-top: 15px;
    margin-right: 70px;
}

.parag {
    float: right;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #F3F7EF;
    margin-top: 15px;
    padding-right: 27px;

}

.img3block {
    padding-right: 31px;
}

.lasson {
    font-size: 40px;
    color: #F3F7EF;
    margin-left: 153px;
    padding-top: 80px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.blog {
    margin-left: 150px;
    padding-top: 85px;
}

.blog2 {
    padding-top: 85px;
    padding-right: 155px;
}

.button3 {
    width: 245px;
    height: 55px;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
    margin: auto;
    display: block;
    margin-top: 105px;
    cursor: pointer;
}

.boxing {
    height: 1175px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(120deg, #6BFFCA 15%, #ffffff 46%, #9E00FF 84%);
}

.box4 {
    width: 388px;
    height: 317px;
    border-radius: 10px;
    background: linear-gradient(138.64deg, #FFFFFF -21.71%, rgba(243, 247, 239, 0) 94.44%);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.group {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-top: 85px;

}

.head {
    padding-top: 82px;
    font-weight: 800;
    font-size: 40px;
    line-height: 115%;
    text-align: center;
    color: #2F2A37;
}

.text4 {
    padding-top: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #424145;
}

.box5 {
    width: 388px;
    height: 317px;
    background: linear-gradient(138.64deg, #FFFFFF -21.71%, rgba(243, 247, 239, 0) 94.44%);
    margin-top: 35px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    cursor: pointer;
}

.blockfour {
    padding-left: 56px;
    margin-top: 44px;
}

.textfour {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #2F2A37;
    padding-top: 10px;
    margin-left: 51px;
}

.paragfour {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    padding-top: 16px;

}

.elementblock {
    height: 1777px;
    background: #242029;
    margin-left: 10px;
    margin-right: 10px;
}


.oneelement {
    width: 96px;
    height: 95px;
    margin-left: 200px;
    margin-top: -56px;
    position: absolute;
    z-index: 1;
}

.twoelement {
    margin-top: 62px;
    margin-left: 1110px;
    position: absolute;
    z-index: 1;
}

.dryelement {
    margin-left: 1205px;
    margin-top: -72px;
    position: absolute;
    z-index: 1
}

.fourelement {
    margin-top: 80px;
    margin-left: -20px;
    position: absolute;
    z-index: 1;
}

.fiveelement {
    margin-left: 311px;
    margin-top: 163px;
    position: relative;
    z-index: 1;
}

.element6 {
    float: right;
    margin-top: -213px;
    margin-right: 358px;
}

.zagolovok {
    font-weight: 800;
    font-size: 40px;
    line-height: 115%;
    text-align: center;
    color: #F3F7EF;
    margin-top: -277px;
}

.flexi {


    position: relative;
    z-index: 5;
    padding-left: 152px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 25px;
    height: 68px;
    
   

}

.infoblock {

    background: linear-gradient(180deg, #ffffff -13.5%, rgba(243, 247, 239, 0) 187.91%);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5.5px);
    margin-right: 33px;
    height: 68px;
    border-radius: 84px;


}

.infoblock2 {
    background: linear-gradient(180deg, #ffffff -13.5%, rgba(243, 247, 239, 0) 187.91%);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5.5px);
    margin-right: 33px;
    height: 68px;
    border-radius: 84px;
    

}

.infoblock3 {
    background: linear-gradient(180deg, #ffffff -13.5%, rgba(243, 247, 239, 0) 187.91%);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5.5px);
    margin-right: 33px;
    height: 68px;
    border-radius: 84px;
}

.infoblock4 {
    background: linear-gradient(180deg, #ffffff -13.5%, rgba(243, 247, 239, 0) 187.91%);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5.5px);
    margin-right: 33px;
    height: 68px;
    border-radius: 84px; 
}

.inftext {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #2F2A37;
    display: flex;
}



.contflex {
    margin-top: 87px;
}